# Python
__pycache__/
*.pyc

# Logs
*.log

# Virtual Environment
.venv/

# Data directories
backups/

# IDE
.vscode/

# Compressed files
# *.zip
*.gz
*.tar

# Additional patterns for large files
*.pem
*.csv
*.json
*.geojson